# Ignore node_modules and package manager files
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
dist
build
.out
.next
.vercel

# Ignore logs
*.log

# Ignore coverage and test output
coverage
*.tsbuildinfo

# Ignore environment variable files
.env
.env.*
